<div class="event-container" id="event-container">
    <label class="event-name">{{name}}</label>
    <label class="event-time">Time: {{time12}}</label>
    <label class="event-month">Month: {{month}}</label>
    <label class="event-day">Date: {{day}}</label>
    <label class="event-year">Year: {{year}}</label>
</div>